{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "airbnb-base"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2017, // Do not permit syntax past ES2017 (yet)
        "sourceType": "script"
    },
    "rules": {
        "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
        "consistent-return": "off",
        "func-names": "off",
        "indent": ["error", 4],
        "linebreak-style": "off", // git will trim it off anyway
        "max-len": "off",
        "no-console": "error",
        "no-continue": "off",
        "no-restricted-syntax": [
            "error",
            "SwitchStatement",
            "WithStatement"
        ],
        "no-use-before-define": "off",
        "operator-linebreak": "off",
        "strict": ["error", "global"]
    }
}
